{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div id="changeble_div">
        <div class="box__wrap" id="number_validate_id">
            <div class="form__box">
                <form  action="{% url 'is-user-exists' %}" id="phone-password" >
                    {% csrf_token %}
                    <div class="form__box-head">
                        <h2 class="form__title">
                            Для восстановления пароля, введите номер телефона
                        </h2>
                    </div>
                    <label class="form__input-wrap">
                        <input id="phone_number_password_id" type="text" class="form__input form__input-tel" required>
                    </label>
                    <button class="form__btn" type="submit">
                        Отправить код
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button id='sign-in-button' hidden></button>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/number_password_reset.js' %}"></script>

{% endblock %}
