{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="box__wrap" id="number_validate_id">
        <div class="form__box">
            <form id="password-reset-form" action="" method="post" >
                {% csrf_token %}
                <div class="form__box-head">
                    <h2 class="form__title">
                        Новый пароль
                    </h2>
                </div>
                <label class="form__password-input-wrap">
                    <input id="firebase_token" name="firebase_token" type="hidden" class="form__input"  required>
                </label>

                <label class="form__input-wrap form__password-input-wrap">
                    <input id="id_new_password1" name="new_password1" type="password" class="form__input" placeholder="Введите новый пароль" autocomplete="new-password" required>
                    <div class="form__eye"></div>
                </label>
                <label class="form__input-wrap form__password-input-wrap">
                    <input id="id_new_password2"  name="new_password2" type="password" class="form__input" placeholder="Повторите пароль" autocomplete="new-password" required>
                    <div class="form__eye"></div>
                </label>
                <div style="text-align: center">{{ form.errors }}</div>
                <button class="form__btn" type="submit" >
                    Сохранить
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('firebase_token').value = localStorage['user_token']
</script>
{% endblock %}
